body{
  background-color:#85CF9A;
  width:100%;
  height:100%;
  overflow:hidden;
  font-family:Roboto Condensed, sans-serif;
}

#music{
  position:absolute;
  color:#EEF4F2;
  font-size:74px;
  text-align:center;
  letter-spacing:-1pt;
}

svg{
 
  opacity:0
}
